
<script type="text/javascript">

    $(document).ready(function(){

            $('.nivo_slider').nivoSlider({

                manualAdvance: true,
                directionNavHide:true
            });

            $('.tooltip').tooltipster({

                position: "bottom",
                animation: 'fade',
                theme: '.tooltipster-default',
                touchDevices: true,
                trigger: 'hover',
                interactive: true
            });
    });

</script>

<!-- BEGIN blog left -->
<div class="blog_left">

  <div class="blog_left_content">

    <div class="blog_content_info">
      <div class="blog_content_date">9<br /><span>MARCH</span></div>
      <a href="blog_post.html" class="comment_number">15</a>
      <div class="blog_content_author"><span>Author</span><br />Connect Admin</div>
      <div class="blog_content_category"><span>Category</span><br />Sailing & Fun</div>

    </div>

    <div class="blog_content_inner">

      <!--<div class="blog_content_image theme-default">-->
      <div class=" theme-default">
        <div class="blog_content_slider nivo_slider">

          <%= image_tag("blog/7.jpg", :alt => "") %>
          <%= image_tag("test.gif", :alt => "") %>
          <%= image_tag("test.jpg", :alt => "") %>
          <%= image_tag("blog/6.jpg", :alt => "") %>
        </div>
      </div>

      <h3>搞笑图集锦</h3>
      <p>Today, I ran for the first time in ages when I saw my bus coming. My loose shoe went flying into a shop doorway, and I tripped into the

        <a href="#" class="tooltip" title="  <div> <img src= <%= @img_path  %>/> </div>
           <div>n.（路边）排水沟； （屋顶的）天沟； 贫民窟 <br>
            vt.形成沟或槽于…； 为…装檐槽 <br>
            vi.在沟槽或小溪中流淌； 淌蜡； （烛火）风中摇晃</div>
        ">gutter</a>

        <a href="#" class="tooltip" title="<img src='my-image.png' width='100' height='100' /> Here is an image and <b>bold text!</b>">Link</a>

      </p>
      <a class="con_button con_button2" href="blog_post.html"><span class="con_button_text">READ MORE</span><span class="con_button_arrow"><span>READ MORE</span></span></a>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="blog_left_content">
    <div class="blog_content_info">
      <div class="blog_content_date">9<br /><span>MARCH</span></div>
      <a href="blog_post.html" class="comment_number">15</a>
      <div class="blog_content_author"><span>Author</span><br />Connect Admin</div>
      <div class="blog_content_category"><span>Category</span><br />Sailing & Fun</div>

    </div>
    <div class="blog_content_inner">
      <div class="blog_content_image theme-default">
        <div class="blog_content_slider nivo_slider">
          <img src="images/blog/6.jpg" alt="" />
          <img src="images/blog/2.jpg" alt="" />
          <img src="images/blog/5.jpg" alt="" />
        </div>
      </div>
      <h3>LOREM IPSUM DOLOR</h3>
      <p>
        <a href="http://google.com" class="tooltip" title="  <img src='/assets/blog/6.jpg'/> Get your Google on and your ketchup out!">Google</a>
      </p>
      <a class="con_button con_button2" href="blog_post.html"><span class="con_button_text">READ MORE</span><span class="con_button_arrow"><span>READ MORE</span></span></a>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="blog_left_content">
    <div class="blog_content_info">
      <div class="blog_content_date">9<br /><span>MARCH</span></div>
      <a href="blog_post.html" class="comment_number">15</a>
      <div class="blog_content_author"><span>Author</span><br />Connect Admin</div>
      <div class="blog_content_category"><span>Category</span><br />Sailing & Fun</div>

    </div>
    <div class="blog_content_inner">
      <div class="blog_content_image theme-default">
        <div class="blog_content_slider nivo_slider">
          <img src="images/blog/3.jpg" alt="" />
          <img src="images/blog/5.jpg" alt="" />
          <img src="images/blog/4.jpg" alt="" />
        </div>
      </div>
      <h3>LOREM IPSUM DOLOR</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at semper risus. Curabitur mattis dapibus quam, tincidunt rutrum sapient porta sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem. Curabitur mattis.</p>
      <a class="con_button con_button2" href="blog_post.html"><span class="con_button_text">READ MORE</span><span class="con_button_arrow"><span>READ MORE</span></span></a>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="blog_left_content">
    <div class="blog_content_info">
      <div class="blog_content_date">9<br /><span>MARCH</span></div>
      <a href="blog_post.html" class="comment_number">15</a>
      <div class="blog_content_author"><span>Author</span><br />Connect Admin</div>
      <div class="blog_content_category"><span>Category</span><br />Sailing & Fun</div>

    </div>
    <div class="blog_content_inner">
      <div class="blog_content_image theme-default">
        <div class="blog_content_slider nivo_slider">
          <img src="images/blog/4.jpg" alt="" />
          <img src="images/blog/1.jpg" alt="" />
          <img src="images/blog/2.jpg" alt="" />
        </div>
      </div>
      <h3>LOREM IPSUM DOLOR</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at semper risus. Curabitur mattis dapibus quam, tincidunt rutrum sapient porta sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem. Curabitur mattis.</p>
      <a class="con_button con_button2" href="blog_post.html"><span class="con_button_text">READ MORE</span><span class="con_button_arrow"><span>READ MORE</span></span></a>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="blog_left_content">
    <div class="blog_content_info">
      <div class="blog_content_date">9<br /><span>MARCH</span></div>
      <a href="blog_post.html" class="comment_number">15</a>
      <div class="blog_content_author"><span>Author</span><br />Connect Admin</div>
      <div class="blog_content_category"><span>Category</span><br />Sailing & Fun</div>

    </div>
    <div class="blog_content_inner">
      <div class="blog_content_image theme-default">
        <div class="blog_content_slider nivo_slider">
          <img src="images/blog/5.jpg" alt="" />
          <img src="images/blog/2.jpg" alt="" />
          <img src="images/blog/3.jpg" alt="" />
        </div>
      </div>
      <h3>LOREM IPSUM DOLOR</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at semper risus. Curabitur mattis dapibus quam, tincidunt rutrum sapient porta sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem. Curabitur mattis.</p>
      <a class="con_button con_button2" href="blog_post.html"><span class="con_button_text">READ MORE</span><span class="con_button_arrow"><span>READ MORE</span></span></a>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>





  <ul class="filterOptionsblog">
    <li><a href="#" class="all ">FIRST</a></li>
    <li class="pad_right_li"><a href="#"> < /></a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li class="res300hide"><a href="#">4</a></li>
    <li class="res300hide"><a href="#">5</a></li>
    <li class="res300hide"><a href="#">6</a></li>
    <li class="res300hide"><a href="#">7</a></li>
    <li class="res768hide"><a href="#">8</a></li>
    <li class="res768hide"><a href="#">9</a></li>
    <li class="res768hide"><a href="#">10</a></li>
    <li><a href="#">...</a></li>
    <li class="pad_left_li"><a href="#"> > </a></li>
    <li><a href="#" class="all">LAST</a></li>
  </ul>


</div>
<!-- /END blog left -->